<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/aop   
        classpath:spring-xsd/spring-aop-4.3.xsd   
        http://www.springframework.org/schema/beans   
        classpath:spring-xsd/spring-beans-4.3.xsd   
        http://www.springframework.org/schema/context   
        classpath:spring-xsd/spring-context-4.3.xsd   
        http://www.springframework.org/schema/mvc   
        classpath:spring-xsd/spring-mvc-4.3.xsd   
        http://www.springframework.org/schema/tx   
        classpath:spring-xsd/spring-tx-4.3.xsd"
	default-autowire="byName">
	<!-- 扫描spring annotation包，多包时以“,”隔开。本系统自定义仅仅扫描mvc.huaxb.*.下包目录 -->
	<context:component-scan
		base-package="com.automic.door.serv,com.automic.door.web">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<!-- 开启mvc注解 -->
	<mvc:annotation-driven />
</beans>  